<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events</title>

        <link rel="stylesheet" href="../static/events.css">
        <link rel="stylesheet" href="../static/nav.css">
    </head>
    <body>

        <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="homePage.html" class="logo">BookLovers<span>.</span></a>

        <nav class="navbar">
            <a href="homePage.html">home</a>
            <a href="homePage.html">about</a>
            <a href="products.html">products</a>
            <a href="events.html">Events</a>
            <a href="meetOurTeam.html">Meet our Team</a>
        </nav>

        <div class="icons">
            <a href="loginPage.html" class="fas fa-user">Login</a>
        </div>

        </header>

        <p>There are no events yet</p>
    </body>
</html>