<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookers</title>

        <link rel="stylesheet" href="../static/homePage.css">
        <link rel="stylesheet" href="../static/nav.css">
    </head>
    <body>

    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="homePage.html" class="logo">BookLovers<span>.</span></a>

        <nav class="navbar">
            <a href="homePage.html">home</a>
            <a href="#about">about</a>
            <a href="products.html">products</a>
            <a href="events.html">Events</a>
            <a href="meetOurTeam.html">Meet our Team</a>
        </nav>

        <div class="icons">
            <a href="loginPage.html" class="fas fa-user">Login</a>
        </div>

    </header>

    <section class="home" id="home">

        <div class="content">
            <h3>Welcome to BookLovers</h3>
            <span> A creative website for buying books and sharing ideas </span>
        </div>

    </section>

    <section class="about" id="about">

        <h1 class="heading"> <span> about </span> us </h1>

        <div class="row">

            <div class="content">
                <h3>Why choose us?</h3>
                <p>Our website is considered an E-store and at the same time it can be used to share ideas and
                    experiences.</p>
                <p> You can even attend events that will be prepared regularly near your place every month to meet
                    the famous writers that you like</p>
            </div>

        </div>

    </section>

    </body>
</html>