<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>

<!--        Links-->
        <link rel="stylesheet" href="../static/loginPage.css">

    </head>
    <body>

        <h1>Login Page</h1>

        <div class="department">

            <form action="homePage.html" method="post">

                <p>Username</p>
                <input type="text" id="user" name="username" required>

                <p>Email Address</p>
                <input type="email" id="email" name="emailAddress" required>

                <p>Password</p>
                <input type="password" id="password" name="password" required>

                <br><br>

                <button type="submit"><span></span>Submit</button>

            </form>

        </div>

    </body>
</html>
