<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="../static/meetOurTeam.css">
      <link rel="stylesheet" href="../static/nav.css">

  </head>
  <body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="homePage.html" class="logo">BookLovers<span>.</span></a>

        <nav class="navbar">
            <a href="homePage.html">home</a>
            <a href="homePage.html">about</a>
            <a href="products.html">products</a>
            <a href="events.html">Events</a>
            <a href="meetOurTeam.html">Meet our Team</a>
        </nav>

        <div class="icons">
            <a href="loginPage.html" class="fas fa-user">Login</a>
        </div>

    </header>

    <h1 class="heading"><span>meet</span>Our Team</h1>

    <div class="info" id="student1">
        <img src="../images/ourTeam/nabil.png">
        <div class="text">
            <h3 class="user_name">Nabil</h3>
            <h5>ID: 20200583</h5>
            <p>Responsible for the front-end of the website</p>
        </div>
    </div>

    <div class="info" id="student2">
        <img src="../images/ourTeam/3bdo.jpg">
        <div class="text">
            <h3 class="user_name">Abdelrahman Hesham</h3>
            <h5>ID: 20200838</h5>
            <p>Responsible for the Back-end of the website</p>
        </div>
    </div>

    <div class="info" id="student3">
        <img src="../images/ourTeam/noor.png">
        <div class="text">
            <h3 class="user_name">Noor</h3>
            <h5>ID: 20200603</h5>
            <p>Responsible for the planning section</p>
        </div>
    </div>

    <div class="info" id="student4">
        <img src="../images/ourTeam/boodz.png">
        <div class="text">
            <h3 class="user_name">Abdelrahman Ahmed</h3>
            <h5>ID: 20200279</h5>
            <p>Responsible for the planning section</p>
        </div>
    </div>

    <div class="info" id="student5">
        <img src="../images/ourTeam/ahmed.png">
        <div class="text">
            <h3 class="user_name">Ahmed</h3>
            <h5>ID: 20200026</h5>
            <p>Responsible for the organising section</p>
        </div>
    </div>

  <div class="info" id="student6">
        <img src="../images/ourTeam/deena.jpg">
        <div class="text">
            <h3 class="user_name">Dina</h3>
            <h5>ID: 20201061</h5>
            <p>Responsible for the influencing section</p>
        </div>
  </div>

  <div class="info" id="student7">
        <img src="../images/ourTeam/eman.png">
        <div class="text">
            <h3 class="user_name">Eman</h3>
            <h5>ID: 20201038</h5>
            <p>Responsible for the influencing section</p>
        </div>
  </div>

  <div class="info" id="sudent8">
        <img src="../images/ourTeam/ziad.png">
        <div class="text">
            <h3 class="user_name">Ziad</h3>
            <h5>ID: 20200201</h5>
            <p>Responsible for the controlling section</p>
        </div>
  </div>

  </body>
</html>