<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>

        <link rel="stylesheet" href="../static/products.css">
        <link rel="stylesheet" href="../static/nav.css">
    </head>
    <body>
        <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="homePage.html" class="logo">BookLovers<span>.</span></a>

        <nav class="navbar">
            <a href="homePage.html">home</a>
            <a href="homePage.html">about</a>
            <a href="products.html">products</a>
            <a href="events.html">Events</a>
            <a href="meetOurTeam.html">Meet our Team</a>
        </nav>

        <div class="icons">
            <a href="loginPage.html" class="fas fa-user">Login</a>
        </div>

        </header>

        <section class="products" id="products">

        <h1 class="heading"> Our latest <span>products</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="../images/books/1.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3> To Kill a Mockingbird, by Harper Lee </h3>
                    <div class="price"> $12.99 <span> $15.99 </span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/2.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Harry Potter and the Philosopher’s Stone, by J.K. Rowling</h3>
                    <div class="price"> $15.99 <span>$20.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/3.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3> The Lord of the Rings, by J.R.R. Tolkien</h3>
                    <div class="price"> $13.99 <span>$14.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/4.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>The Great Gatsby, by F. Scott Fitzgerald</h3>
                    <div class="price"> $20.99 <span>$22.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/5.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Pride and Prejudice, by Jane Austen</h3>
                    <div class="price"> $10.99 <span>$13.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/6.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>1984, by George Orwell</h3>
                    <div class="price"> $8.99 <span>$10.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/7.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>The Diary Of A Young Girl, by Anne Frank</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/8.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>The Book Thief, by Markus Zusak</h3>
                    <div class="price"> $14.99 <span>$15.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/9.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>The Hobbit, by J.R.R. Tolkien</h3>
                    <div class="price"> $13.99 <span>$16.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/10.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Little Women, by Louisa May Alcott</h3>
                    <div class="price"> $22.99 <span>$25.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/11.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Fahrenheit 451, by Ray Bradbury</h3>
                    <div class="price"> $20.99 <span>$22.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/12.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Jane Eyre, by Charlotte Bronte</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/13.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Animal Farm, by George Orwell</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/14.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>Gone with the Wind, by Margaret Mitchell</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="../images/books/15.png" alt="">
                    <div class="icons">
                        <a href="#" class="cart-btn">add to cart</a>
                    </div>
                </div>
                <div class="content">
                    <h3>The Catcher in the Rye, by J.D. Salinger</h3>
                    <div class="price"> $12.99 <span>$15.99</span> </div>
                </div>
            </div>

        </div>

    </section>
    </body>
</html>